.AppUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height:40pt;
  position: relative;
}

.user{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.AppLi {
  float: left;
}

.AppLi a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.AppLi a:hover {
  background-color: #111;
}
#search{
  font-family: "03-streetlight-demo-version.otf	"
}
.add{
  font-family: "03-streetlight-demo-version.otf	";
}
#home{
  font-family: "03-streetlight-demo-version.otf	"
  
}
#text{
  width: 300px;
  margin-left: 530px;
  
}
#ex3{
  transition: all .2s ease-in-out;
transition: transform .2s; /* Animation */
box-sizing: border-box;
  width:200px;
  margin-left: 20px;
  display: inline;
}

#ex3:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
#ex2{
  transition: all .2s ease-in-out;
transition: transform .2s; /* Animation */
box-sizing: border-box;
  width:400px;
  height: 90px;
  margin-left: 480px;

}

#ex2:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
#ex1{
  width:200px;
  margin-left: 580px;
  transition: all .2s ease-in-out;
  transition: transform .2s; /* Animation */
  box-sizing: border-box;
}

#ex1:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
#SOMO{
  position: absolute;
  right:2%;
color: white;
font-family: fantasy;
display: inline-block;
box-sizing: border-box;
}

.Linkim{
  height: 10%;
}
#bookImage{
margin-right: 600px;
margin-top: 40px;
border-radius: 8px;
opacity: 0.95;
}
#movieImage{
  margin-right: 600px;
  margin-top: 47px;
  border-radius: 8px;
  opacity: 0.95;

  }
  
  #detailsMovie{
    margin-left: 630px;
    margin-top: -290px;
    color: rgb(192, 190, 190);
    background-color: #111;
    width:650px;
    border-radius: 8px;
    opacity: 0.86;
    transition: all .2s ease-in-out;
    transition: transform .2s; /* Animation */
    box-sizing: border-box;
    }

#detailsMovie:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
  #detailsBook{
    margin-left: 630px;
    margin-top: -290px;
    color: rgb(192, 190, 190);
    background-color: #111;
    width:650px;
    border-radius: 8px;
    opacity: 0.86;
    transition: transform .2s; /* Animation */
    box-sizing: border-box;
  }
  #detailsBook:hover {
    transform: scale(1.17); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.reviews-movie{
  margin-left: 230px;
  margin-top: -180px;
  width: 300px;
height: auto;
background-color: #111;
color: rgb(192, 190, 190);
font-family: "03-streetlight-demo-version.otf	";
border-radius: 8px;
opacity: 0.86;
transition: transform .2s; /* Animation */
box-sizing: border-box;
}

  /* #review{
    font-family: "03-streetlight-demo-version.otf	";
    border-radius: 8px;
    opacity: 0.86;
    transition: transform .2s; /* Animation */
    /* box-sizing: border-box;
}  */
#review:hover {
  transform: scale(1.17); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#bookReview{
  margin-top: 100px;
  font-family: "03-streetlight-demo-version.otf	";
margin-left: 230px;
color: rgb(192, 190, 190);
    background-color: #111;
    border-radius: 8px;
    opacity: 0.86;
    width: 300px;
    transition: transform .2s; /* Animation */
    box-sizing: border-box;

}
#bookReview:hover {
  transform: scale(1.17); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#p{
	background: linear-gradient(to right, rgb(0, 0, 0) 0%, #ffffff 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "03-streetlight-demo-version.otf	";

}

#bookTitle{
  font-family: "03-streetlight-demo-version.otf	";

}
#movieTitle{
  font-family: "03-streetlight-demo-version.otf	";

}
#o{
  font-family: "03-streetlight-demo-version.otf	";
color: rgb(27, 27, 27);
}
#movieImage {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
#movieImage:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
#bookImage {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
#bookImage:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

#sign{
  color: #333;
  font-family: "03-streetlight-demo-version.otf	";

}
#yourReview{
  font-family: "03-streetlight-demo-version.otf	";

}
#yourProduct{
  font-family: "03-streetlight-demo-version.otf	";

}
#yourHashtags{
  font-family: "03-streetlight-demo-version.otf	";

}
#buttonAdd{
  width: 100px;
  height: 45px;
}


.wrapper:hover .fa-stack{
  transition: 0.9s;
  transform: rotateY(360deg);
}
.wrapper{
  display: inline-block;
  width: 1000px;
  margin-right: 70px;
}


#text1{

transition: all .2s ease-in-out;
transition: transform .2s; /* Animation */
box-sizing: border-box;
width: 250px;
margin-left: 560px;
}

#text1:hover {
transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.ofri {

  position: relative;
  display: inline-block;
  font-family: "03-streetlight-demo-version.otf	";

}

.ofri .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: rgb(36, 36, 36);
  opacity: 0.95;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-right: 300px;
}

.ofri .tooltiptext::after {
  
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.ofri:hover .tooltiptext {
  visibility: visible;
}
#yourUsername{
  font-family: "03-streetlight-demo-version.otf	";

}

.card {
  margin: 5px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.0.4);
  transition: 0.3s;
  border-radius: 20px;
  width: 220px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
} 
.cardetails{
  height: 20%;
  padding: 2px 5px;
}
  .imgsearch {
  border-radius: 5px 5px 0 0;
  	width: 100%;
		height:250px;
} 

.ReviewCount{
  width: 300px;
  height:200px;
  background-color: cornflowerblue;
  color: linen;
  border-radius:10px 10px 10px 10px;
}
.form-popup {
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}