body {
  /* margin: 0;
  padding: 0; */
  font-family: The Queenthine;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("computer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; 
 font-family: 'Montserrat' !important; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
