body {
  /* margin: 0;
  padding: 0; */
  font-family: 'Courgette', 'cursive';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("nice.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover ;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.feed{
  background-color: black;
}

.post{
  width:300pt;
  background-color: rgb(172, 172, 141);
  margin:auto;
  margin-top: 10pt;
}

#Avatar{
  width:40pt;
}